label::after {
    content: '';
    position:absolute;
    left: 0;
    bottom: -2px;
    height: 100%;
    width: 100%;
    border-bottom:5px solid orange;
    transform:translateX(-100%);
    transition:transform .5s ease;
}
input:focus +  label .content , input:valid + label .content {
    transform: translateY(-135%);
    font-size: 14px;
    color:rgb(231, 190, 26)
}
input:focus + label::after,
input:valid + label::after {
    transform: translateX(0%);
}
/*Chrome autocomplete bg-color*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}