.page-enter-active {
    animation: acrossIn .2s ease-out both;
  } 
  
  .page-leave-active {
    animation: acrossOut .65s ease-in both;
  } 
  
  @keyframes acrossIn {
    0% {
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes acrossOut {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(100%, 0, 0);
    }
  }