@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4zxmsa');
  src:  url('fonts/icomoon.eot?4zxmsa#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4zxmsa') format('truetype'),
    url('fonts/icomoon.woff?4zxmsa') format('woff'),
    url('fonts/icomoon.svg?4zxmsa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pacman:before {
  content: "\e916";
}
.icon-sort-alpha-asc:before {
  content: "\ea48";
}
.icon-facebook2:before {
  content: "\ea91";
}
